<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jobstalker</title>
    <link type="text/css" rel="stylesheet" href="/css/index.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap"
      rel="stylesheet"
    />
    <link
      href="//db.onlinewebfonts.com/c/99f44be299d4608af6fbe99aa38ce446?family=HarmoniaSansW01-Bold"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="icon" type="image/png" href="img/tie.png" />
  </head>
  <body>
    <img src="img/logo_blanc.png" />
    <h3>Votre futur contrat ? Nous on y croit.</h3>
    <a href="/main" class="btn btn-primary">Commencer</a>
  </body>
</html>
